body {
    background-color: burlywood;
    text-align: center;
}
.nav-bar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 15px;
}

#home-link {
    margin: 30px;
}

/* #home-link:link, #home-link:visited  {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    padding: 10px 20px;
    display: inline-block;
}
#jokes-link:link, #jokes-link:visited {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    padding: 10px 20px;
    display: inline-block;
}
#new-link:link, #new-link:visited {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    padding: 10px 20px;
    display: inline-block;
} */

#jokes-link {
    margin: 30px;
}

#new-link {
   margin: 30px;
}

/* .selected {
    color: blue;
} */

.home-cont {
    border-style: solid;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
}
.joke-card {
    border-style: solid;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 2%;
    margin: 10px;
    height: 150px;
    width: 20%;
    float: left;
    box-shadow: black;

}

.joke-form  {
    border-style: solid;
    background-color: rgb(249, 215, 167);
    display: inline-block;
    padding: 50px;
    margin: 50px;
    border-radius: 3px;
}