body {
    background-image: url(./images/cat.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    text-align: center;
}
.nav-bar{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 10px;
    min-height: 8vh;
    justify-content: space-around;
}


#home-link:link {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    background-color: white;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 30px 30px;
    max-width: 350px;
    width: 70%;
    margin: 70px auto 10;
    float: center;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

#jokes-link:link {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    background-color: white;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 30px 30px;
    max-width: 350px;
    width: 70%;
    margin: 70px auto 10;
    float: center;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}
#new-link:link {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    background-color: white;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 30px 30px;
    max-width: 350px;
    width: 70%;
    margin: 70px auto 10;
    float: center;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

/* .selected {
    color: blue;
} */

.home-cont {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    background-color: white;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 30px 60px;
    max-width: 350px;
    width: 70%;
    margin: 70px auto 0;
    float: center;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}
.joke-card {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    background-color: white;
    border: solid 3px #6e7491;
    padding: 30px 30px;
    max-width: 250px;
    width: 20%;
    margin: 70px auto 10;
    float: left;
    font-size: 17px;
    line-height: 20px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

#delete-btn {
    padding: 4px 8px;
    display: inline-block;
    border: 3px solid #333333;
    
    /* border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%; */
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
}

#submit-btn {
    padding: 3px 7px;
    display: inline-block;
    border: 3px solid #333333;
    
    /* border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%; */
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
}

.joke-cont {
    display: inline-block;
}

.joke-form  {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    background-color: white;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 30px 60px;
    max-width: 350px;
    width: 70%;
    margin: 70px auto 0;
    float: center;
    font-size: 17px;
    line-height: 28px;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}